<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.github.kaiwinter.nfcsonos" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature android:name="android.hardware.nfc" android:required="true" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:label="@string/app_name_short"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">

        <!-- Login activity -->
        <activity
                android:name=".login.LoginActivity"
                android:label="@string/app_name_short"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="stateHidden"
                android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http"
                    android:host="localhost"
                    android:path="/com.github.kaiwinter.nfcsonos"/>
            </intent-filter>
        </activity>

        <!-- Main activity -->
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name_short"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="https"
                    android:host="github.com"
                    android:pathPrefix="/kaiwinter/nfcsonos/scanned" />
            </intent-filter>
        </activity>

        <activity
            android:name=".discover.DiscoverActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait">
        </activity>
    </application>
</manifest>
